@page
@model TP1_Razor.Pages.AddProductModel
@{
    ViewData["Title"] = "Adicionar Produto";
}

<form method="post">
    <fieldset>
        <legend>Adicionar Produto</legend>
        <div>
            <label for="Nome">Nome:</label>
            <input type="text" name="Nome" value="" />
        </div>
        <div>
            <label for="Preco">Preço:</label>
            <input type="text" name="Preco" value="" />
        </div>
        <br />
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>