@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

	<ul>
		<li>Banana - R$ 2,00</li>
		<li>Maça - R$ 1,00</li>
		<li>Tomate - R$ 4,00</li>
	</ul>

<a href="/Privacy">Ir para a página Privacy</a>